table.display {
	border: 1px solid #999;
	width: 90%;
	margin: 20px 0 20px 0 !important;
}

table.display th, table.display td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
	/*
	border-bottom:1px solid #ccc; 
	border-right:1px solid #ccc;
	*/
}

table.display thead tr {
	background-color: #036;
	color: #FFF;
	padding: 2px;
	border: 1px solid #ccc;
}

table.display th.sorted {
	background-color: #36a;
}

table.display th a, th a:visited {
	color: #FFF;
}

table.display th a:hover {
	text-decoration: underline;
	color: #FFF;
}

table.display th.sorted a, th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

table.display th.sortable a {
	background-image: url('arrow_off.png');
	background-repeat: no-repeat;
}

table.display th.order1 a {
	background-image: url('arrow_down.png');
	background-repeat: no-repeat;
}

table.display th.order2 a {
	background-image: url('arrow_up.png');
	background-repeat: no-repeat;
}

table.display tr.odd {
	background-color: #fff;
}

table.display tr.tableRowEven, table.display  tr.even {
	background-color: #eef;
}

table.display div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 90%;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.excel {
	background-image: url('ico_file_excel.png');
	background-repeat: no-repeat;
}

span.csv {
	background-image: url('ico_file_csv.png');
	background-repeat: no-repeat;
}

span.xml {
	background-image: url('ico_file_xml.png');
	background-repeat: no-repeat;
}

span.pdf {
	background-image: url('ico_file_pdf.png');
	background-repeat: no-repeat;
}

span.rtf {
	background-image: url('ico_file_rtf.png');
	background-repeat: no-repeat;
}

span.pagebanner {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 90%;
	margin-top: 10px;
	display: block;
	border-bottom: none;
}

span.pagelinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 90%;
	display: block;
	border-top: none;
	margin-bottom: -5px;
}

.group-1 {
	font-weight: bold;
	padding-bottom: 10px;
	border-top: 1px solid black;
}

.group-2 {
	font-style: italic;
	border-top: 1px solid black;
}

.subtotal-sum, .grandtotal-sum {
	font-weight: bold;
	text-align: right;
}

.subtotal-header {
	padding-bottom: 0px;
	border-top: 1px solid white;
}

.subtotal-label, .grandtotal-label {
	border-top: 1px solid white;
	font-weight: bold;
}

.grouped-table tr.even {
	background-color: #fff;
}

.grouped-table tr.odd {
	background-color: #fff;
}

.grandtotal-row {
	border-top: 2px solid black;
}

.hidden {
	display: none;
}